{% include "header.html" %}

<header id="home" style="background-image: url('../static/assets/img/hobbies_bg.jpg')">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold" style="margin: 2em">Hobbies!</h1>
            </div>
        </div>
    </div>
</header>

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin: 20px; text-align: center">
      <div class="col-lg-4">
        <img src="static/assets/img/volley-icon.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"/>
        <h2 class="fw-normal">Volleyball</h2>
        <p>I love volleyball because of the required technique you need to develop to be a good player and plus I have made some good friends.</p>
<!--        <p><a class="btn btn-secondary" href="#">More about it »</a></p>-->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="static/assets/img/video-games-icon.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"/>
        <h2 class="fw-normal">Video Games</h2>
        <p>On my free time I enjoy playing video-games by myself or with some friends. I mainly play sports video-games </p>
<!--        <p><a class="btn btn-secondary" href="#">More about it »</a></p>-->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="static/assets/img/anime-icon.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"/>
        <h2 class="fw-normal">One Piece</h2>
        <p>I cannot deny it, I am a big fan of One Piece. I enjoy reading the manga and watching the anime every week</p>
<!--        <p><a class="btn btn-secondary" href="#">More about it »</a></p>-->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Volleyball</h2>
        <p class="lead">In general I am a big fan of sports. During my life I have trained Tae Kwon Do, Basketball, Tennis,
        Soccer Football and Volleyball. I felt in love with volleyball when I was 17 because I made incredible friendships and
        I also think it is the sport where I can stand the most because of my height and anatomy. </p>
      </div>
      <div class="col-md-5">
          <img src="static/assets/img/volleyball.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Video Games</h2>
        <p class="lead">As a big fan of sports I enjoy playing with my favorite athletes in their disciplines. My favorite game in sports is Madden that brings all the NFL league
        and contains so many legends who have played the game. I like to play by myself, but I also enjoy playing with friends
        and have a good time.</p>
      </div>
      <div class="col-md-5 order-md-1">
          <img src="static/assets/img/video-games.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">One Piece</h2>
        <p class="lead">I don't want to be misunderstood, I am not a big fan of anime, I actually just know about
        the most common ones likes Dragon Ball, Naruto and like 3 or 4 more. But I started watching One Piece in 2017
        and even though is a really long anime I like the history and how the writer surprise us every week with
        amazing revelations. Plus, I love the Live Action and the fact that the actor who performs Luffy is mexican, I mean
        Iñaki suits Luffy very well.</p>
      </div>
      <div class="col-md-5">
         <img src="static/assets/img/anime.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
{% include "footer.html" %}